// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-list__table {
  margin-top: 20px;

}

.project-list__table tr {
  border: 1px solid #e6e6e6;
}

.project-list__table th, td {
  padding: 10px;
}
